
<div id="confirmDialog" title="Report Modified">
    <p>Your Modified Report is Successfully Sent!!!</p>
</div>

@section scripts{
    <script type="text/javascript">
       $(document).ready(function () {
           $('#confirmDialog').dialog({
               autoOpen: true,
               Modal: true,
               resizable: false,
               buttons: {
                   "Ok": function () {
                       window.location = "/Home/";
                   }
               },
           });

    });
    </script>
}