@model ECX.VCTS.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<h1>Error</h1>

<div>
    <h4>You are not <span style="color:red;">Legible</span> to use this Application.</h4>
</div>